.navbar {
  display: flex;
  justify-content: center;
  background-color: #dce1eb;
  padding: 15px;
}

.navbar ul {
    display: flex;
    font-family: fantasy;
    font-size: larger;
    color: darkgreen;
    background-color: #ffffff;
}


.formulario-contacto {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  background-color: #ffffff;
  border: 2px solid crimson;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  background-color: #1a5dc9;
}